include pennylane_qrack/*
include catalyst/runtime/include/*
include Makefile
include CMakeLists.txt
include requirements.txt
include CHANGELOG.md
include LICENSE
include README.rst
exclude MANIFEST.in
