include pennylane_qrack/*
include qrack/include/*
include qrack/_build/include/*
include qrack/_build/libqrack.a
include catalyst/runtime/include/*
include Makefile
include CMakeLists.txt
include requirements.txt
include CHANGELOG.md
include LICENSE
include README.rst
exclude MANIFEST.in
