appdirs==1.4.4
astunparse==1.6.3
autograd==1.8.0
autoray==0.8.0
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
diastatic-malt==2.15.2
gast==0.6.0
idna==3.11
networkx==3.5
numpy==2.3.4
packaging==25.0
pennylane==0.43.0
pennylane-lightning==0.43.0
qulacs==0.6.12
requests==2.32.5
rustworkx==0.17.1
scipy==1.16.3
scipy-openblas32==0.3.30.0.7
six==1.17.0
termcolor==3.2.0
tomlkit==0.13.3
typing-extensions==4.15.0
urllib3==2.5.0
wheel==0.45.1
